<div class="col-md-4">
  <article class="card post-wrap post tag-nature tag-lifestyle featured">
    <div class="card-header">
      <a href="/articles/<%= article.id %>" >
        <div class="featured-image-container" style="background-image: url(https://www.elegantthemes.com/blog/wp-content/uploads/2017/08/featuredimage.jpg);">
        </div>
      </a>
      <div class="author">
        <a href="/users/<%= article.user.id %>">
          <span class='name'> <%= article.user.username %></span>
        </a>
      </div>
    </div>
    <div class="content">
      <h2 class="h4 title">
        <%= link_to article.title, article_path(article) %>
      </h2>
      <div class="meta">
        <span class="date"><i class="far fa-clock"></i><%= article.created_at.strftime('%d-%m-%Y') %></span>
        <!--            <span class="Comment"><i class="material-icons"></i><a href="/benefits-of-rose/#disqus_thread">1 Comment</a></span>-->
        <span class="tag-list">
                <% if article.categories.length != 0 %>
                  <i class="far fa-folder-open"></i>
                <% end %>

          <% article.categories.each do |cate| %>
                  <%= cate.name %>
            <% if cate != article.categories.last %>
                    ,
                  <% end %>
                <% end %>

              </span>
      </div>
      <div class="post-entry">
        <%= article.description %>
      </div>
    </div>
    <div class="card-footer">
      <%= link_to raw('Read More <i class="fas fa-arrow-right"></i>'), article_path(article), class: "parmalink ripple" %>
    </div>
  </article>
</div>