<h1>List article</h1>

<%= link_to "Create new article", new_article_path, class: "btn btn-primary mb-2" %>


<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    
    <tbody>
        <% @articles.each do |article| %>
            <tr>
                <td><%= article.title %></td>
                <td><%= article.user.username if article.user %> | Last update: <%= time_ago_in_words(article.updated_at) %> ago | Create at: <%= time_ago_in_words(article.created_at) %> ago</td>
                <td><%= article.description %></td>
                <td>
                    <%= link_to "Edit", edit_article_path(article) %> |
                    <%= link_to "Read", article_path(article) %> |
                    <%= link_to "Destroy", article_path(article), method: :delete, data: {confirm: "Are you sure"} %>

                </td>
            </tr>
        <% end %>
    </tbody>

</table>

<div class="text-center">
  <%= will_paginate %>
</div>