
<%= render 'shared/card_name', card_name: @article.title %>

<div class="row">
  <% if logged_in? and (current_user == @article.user or current_user.is_admin?) %>

    <div class="col-md-2">
      <div class="card card-single">
          <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary w-100" %>
      </div>
    </div>

    <div class="col-md-2">
      <div class="card card-single">
          <%= link_to "Delete this article", article_path(@article), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger w-100" %>
      </div>
    </div>
  <% end %>

  <div class="col-md-2">
    <div class="card card-single">
      <%= link_to "View all articles", articles_path, class: "btn btn-success" %>
    </div>
  </div>
</div>

<div class="card card-single">
  <div class="wrap-form p-4">
    <p class="font-italic">Author: <%= @article.user.username %></p>

    <% if @article.categories.any? %>
      <p class="font-italic">Categories: <%= render @article.categories %></p>
    <% end %>
    <hr>
    <h3 class="font-italic mb-4">Description:</h3>
    <p><%= @article.description %></p>


  </div>
</div>