
<h1 class="text-center"><%= @article.title %> </h1>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>Author: </h2>
    <div class="text-center">
      <%= gravatar_for @article.user %>
      <p class="head"><%= @article.user.username %></p>
    </div>
    <h2>Description:</h2>
    <p class="lead"><%= @article.description %></p>
    <hr>
    <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-primary btn-sm" %>
    <%= link_to "Delete this article", article_path(@article), method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-danger btn-sm" %>
    <%= link_to "View all articles", articles_path, class: "btn btn-success btn-sm" %>
  </div>
</div>