<%= render 'shared/card_name', card_name: "List all users" %>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">id</th>
    <th scope="col">Username</th>
    <th scope="col">Email</th>
    <th scope="col">Articles</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.username %></td>
      <td><%= user.email %></td>
      <td><%= pluralize(user.articles.count, "articles") if user.articles %></td>
    </tr>
  <% end %>
  </tbody>

</table>

<div class="text-center">
  <%= will_paginate %>
</div>