<%= render 'shared/errors', obj: @category %>


<div class="justify-content-center">
  <div class="wrap-form pd-t-50 pb-5 pd-x-20">
    <%= form_for @category do |f| %>
      <p><%= f.label :feature_image, for: "feature_image" %></p>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file">
          <%= f.file_field :feature_image, class: "custom-file-input", id: "inputGroupFile01", 'aria-describedby': "inputGroupFileAddon01" %>
          <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :name, for: "username" %>
        <%= f.text_field :name, class: "form-control", placeholder: "Enter category name", required: true %>
      </div>

      <div class="form-group mt-5">
        <div class="row">
          <div class="col-md-2">
            <div class="card card-single">
              <%= f.submit( f.object.new_record? ? "Create" : "Edit", class: "btn btn-primary ") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div>
      <%= link_to "[Cancel request and back to categories listing]", categories_path, class: "text-center" %>
    </div>
  </div>
</div>