<%= render 'shared/errors', obj: @category %>

<%= form_for @category do |f| %>
  <div class="form-group">
    <%= f.label :name, for: "username" %>
    <%= f.text_field :name, class: "form-control", placeholder: "Enter category name" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary mb-2" %>
<% end %>

<div>
  <%= link_to "[Cancel request and back to categories listing]", categories_path, class: "text-center" %>
</div>